<section class="exclusive">
  <div class="exclusive__container container">
    <h2 class="exclusive__title title-h2" data-aos="fade-up">
      Эксклюзивные изделия <span>ограниченного тиража</span>
    </h2>
    <div class="exclusive__sub-title" data-aos="fade-up" data-aos-delay="120">
      Благородство материалов, ювелирная точность, глубокий символизм
    </div>

    <div class="exclusive__content">
      <div class="exclusive__card" data-aos="fade-up">
        <div class="exclusive__card-content">
          <h3 class="exclusive__card-title">
            Оригинальная эстетика
          </h3>
          <div class="exclusive__card-text">
            Каждое изделие — произведение искусства.
          </div>
        </div>
        <div class="exclusive__card-img">
          <img src="../assets/images/exclusive-card-1.png" alt="Картинка">
        </div>
      </div>
      <div class="exclusive__card" data-aos="fade-up" data-aos-delay="120">
        <div class="exclusive__card-content">
          <h3 class="exclusive__card-title">
            Высокий уровень детализации
          </h3>
          <div class="exclusive__card-text">
            Проработка каждого элемента вручную.
          </div>
        </div>
        <div class="exclusive__card-img">
          <img src="../assets/images/exclusive-card-2.png" alt="Картинка">
        </div>
      </div>
      <div class="exclusive__card" data-aos="fade-up" data-aos-delay="240">
        <div class="exclusive__card-content">
          <h3 class="exclusive__card-title">
            Редкие ремесленные техники
          </h3>
          <div class="exclusive__card-text">
            И инновационные технологические решения.
          </div>
        </div>
        <div class="exclusive__card-img">
          <img src="../assets/images/exclusive-card-3.png" alt="Картинка">
        </div>
      </div>
    </div>
  </div>
</section>
