<section class="features" id="features">
  <div class="features__container container">
    <div class="features__list">
      <article class="features__card" data-aos="fade-up" data-aos-delay="100">
        <div class="features__card-top">
          <div class="features__card-image">
            <img src="../assets/images/image-1.png" alt="" width="72" height="72" loading="lazy" />
          </div>
          <h3 class="features__card-title">Коллекция <br> исключительных <br> изделий</h3>
        </div>
        <div class="features__card-text">
          Широкий выбор <b>эксклюзивных решений</b> в наличии
        </div>
      </article>

      <article class="features__card" data-aos="fade-up" data-aos-delay="170">
        <div class="features__card-top">
          <div class="features__card-image">
            <img src="../assets/images/image-2.png" alt="" width="72" height="72" loading="lazy" />
          </div>
          <h3 class="features__card-title">Уникальные <br> авторские <br> работы</h3>
        </div>
        <div class="features__card-text">
          Произведения, <b>не имеющие аналогов</b>.
        </div>
      </article>

      <article class="features__card" data-aos="fade-up" data-aos-delay="250">
        <div class="features__card-top">
          <div class="features__card-image">
            <img src="../assets/images/image-3.png" alt="" width="72" height="72" loading="lazy" />
          </div>
          <h3 class="features__card-title">
            Элитное <br> качество
          </h3>
        </div>
        <div class="features__card-text">
          Драгоценные камни, ценные материалы и <b>ручная работа</b>.
        </div>
      </article>
    </div>
  </div>
</section>