<section class="gift-help">
  <div class="gift-help__container container">
    <div class="gift-help__panel">
      <h2 class="gift-help__title title-h2">
        Поможем сделать
        <span>великий подарок</span>
      </h2>
      <p class="gift-help__description">
        Который навсегда запомнится получателю.
      </p>

      <form class="gift-help__form">
        <div class="gift-help__input-wrapper input-wrapper">
          <input class="gift-help__input input" type="text" placeholder="Ваше имя">
        </div>
        <div class="gift-help__input-wrapper input-wrapper">
          <input class="gift-help__input input" type="text" placeholder="Ваш телефон" inputmode="tel">
        </div>
        <div class="gift-help__checkbox-wrapper checkbox-wrapper">
          <input class="gift-help__checkbox checkbox" type="checkbox" id="gift-help-checkbox">
          <label for="gift-help-checkbox"></label>
          <p class="gift-help__label label" for="gift-help-checkbox">
            Я соглашаюсь с <a href="">политикой конфиденциальности</a> и <a href="">обработкой персональных данных</a>
          </p>
        </div>
        <button type="submit" class="gift-help__form-button button">Подобрать изделие</button>
      </form>
    </div>
  </div>
</section>