<section class="gift">
  <div class="gift__container container">
    <div class="gift__top">
      <h2 class="gift__title title-h2">
        <span>Президентский</span>
        стандарт
      </h2>

      <div class="gift__text">
        Наши произведения оценены на самом высоком уровне. Изделия преподносились руководителям крупнейших мировых
        держав
      </div>
    </div>

    <div class="gift__content">
      <article class="gift__article">
        <picture class="gift__article--img">
          <source media="(max-width: 480px)" srcset="../assets/images/gift-1-mobile.jpg">
          <img src="../assets/images/gift-1.jpg" alt="Изображение" loading="lazy" width="648" height="380">
        </picture>
        <div class="gift__article--content">
          <h3 class="gift__article--title">Подарок премьер-министру Индии</h3>
          <p class="gift__article--text">
            Владимир Путин подарил премьер-министру Индии Нарендру Моди нашу подставку для книг в форме слонов.
          </p>
        </div>
      </article>
      <article class="gift__article">
        <picture class="gift__article--img">
          <source media="(max-width: 480px)" srcset="../assets/images/gift-2-mobile.jpg">
          <img src="../assets/images/gift-2.jpg" alt="Изображение" loading="lazy" width="648" height="380">
        </picture>
        <div class="gift__article--content">
          <h3 class="gift__article--title">Подарок Председателю КНР</h3>
          <p class="gift__article--text">
            Владимир Путин подарил Председателю КНР Си Цзиньпину наши светильники из нефрита.
          </p>
        </div>
      </article>
    </div>

    <button type="button" class="gift__cta button" data-a11y-dialog-show="help-modal"
      data-modal-variant="consultation">
      Персональная консультация <br> и подбор эксклюзивных изделий
    </button>
  </div>
</section>
