<section class="help-choice">
  <div class="help-choice__container container">
    <h2 class="help-choice__title title-h2" data-aos="fade-up">Профессиональная <span>помощь в выборе</span></h2>
    <div class="help-choice__text" data-aos="fade-up" data-aos-delay="120">
      Оставьте заявку. <b>Консультация и подбор</b> под конкретный запрос.
    </div>

    <form class="help-choice__form" data-aos="fade-up" data-aos-delay="200" data-request-form>
      <div class="help-choice__input-wrapper input-wrapper">
        <input class="help-choice__input input" type="text" name="name" placeholder="Ваше имя">
      </div>
      <div class="help-choice__input-wrapper input-wrapper">
        <input class="help-choice__input input" type="tel" name="phone" placeholder="Ваш телефон" inputmode="tel">
      </div>
      <div class="help-choice__form-bottom">
        <button type="submit" class="help-choice__form-button button">Подобрать изделие</button>
        <div class="help-choice__checkbox-wrapper checkbox-wrapper">
          <input class="help-choice__input-checkbox input-checkbox" type="checkbox" id="help-choice-checkbox" name="policy">
          <label for="help-choice-checkbox" class="checkbox">
            <svg width="15" height="10" aria-hidden="true">
              <use href="#icon-check"></use>
            </svg>
          </label>
          <p class="help-choice__checkbox-text checkbox-text" for="help-choice-checkbox">
            Я соглашаюсь с <a href="">политикой конфиденциальности</a> <br> и <a href="">обработкой персональных
              данных</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</section>
