<section class="heritage">
  <div class="heritage__container container">
    <h2 class="heritage__title title-h2" data-aos="fade-up">
      Наследие Империи: <span>200 лет истории</span>
    </h2>

    <div class="heritage__body">
      <div class="heritage__img" data-aos="fade-right">
        <img src="../assets/images/heritage.png" alt="Картинка">
      </div>
      <div class="heritage__content" data-aos="fade-left" data-aos-delay="120">
        <div class="heritage__text">
          <p>
            История Златоустовской гравюры на металле зародилась в начале XIX века (1815 г.) на Урале как искусство
            украшения холодного оружия.
          </p>
          <p>
            <span>Мы не просто мастерская, мы — хранители династии.</span> Наши мастера продолжают традиции уральских
            оружейников,
            чьи работы украшали дворцы императоров.
          </p>
          <p>
            Сегодня наше производство соединяет секреты старинных методов с современными технологиями.
          </p>
        </div>

        <a href="/about.html" class="heritage__button button-transparent">
          <span>о нас</span>
          <svg width="24" height="14" aria-hidden="true">
            <use href="#icon-arrow-left"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
