<section class="hero" id="hero">
  <div class="hero__container container">
    <div class="hero__heading">
      <h1 class="hero__title" data-aos="fade-up">
        <span>Уникальные подарки</span>
        <span>премиального уровня</span>
      </h1>
      <p class="hero__description" data-aos="fade-up" data-aos-delay="120">
        <b>Персонально подбираем изделия</b> <br> для особых людей и важных событий.
      </p>
    </div>
    <button class="hero__cta button-transparent" type="button" data-a11y-dialog-show="help-modal"
      data-modal-variant="selection">ПОДОБРАТЬ ПОДАРОК</button>
  </div>
</section>
