<section class="hits" id="hits" aria-labelledby="hits-title">
  <div class="hits__container container">
    <div class="hits__header">
      <h2 class="hits__title title-h2" id="hits-title">Новинки</h2>

      <div class="hits__controls" data-da=".hits__footer,480,first">
        <button class="hits__control" type="button" aria-label="Предыдущий слайд" data-hits-prev>
          <svg width="24" height="14" aria-hidden="true">
            <use href="#icon-arrow-left"></use>
          </svg>
        </button>

        <button class="hits__control hits__control--next" type="button" aria-label="Следующий слайд" data-hits-next>
          <svg width="24" height="14" aria-hidden="true">
            <use href="#icon-arrow-left"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="hits__slider swiper" data-hits-slider>
      <div class="hits__wrapper swiper-wrapper">
        <article class="hits__card swiper-slide">
          <div class="hits__media">
            <img src="../assets/images/hits-1.png" alt="Коран. Изумрудный Свет Писания" width="424" height="424"
              loading="lazy" />
          </div>
          <div class="hits__content">
            <h3 class="hits__card-title">Коран. Изумрудный<br />Свет Писания</h3>
            <p class="hits__price">₽ 185 000</p>
          </div>
        </article>

        <article class="hits__card swiper-slide">
          <div class="hits__media">
            <img src="../assets/images/hits-2.png" alt="Икона настольная «Святая блаженная Матрона Московская»"
              width="424" height="424" loading="lazy" />
          </div>
          <div class="hits__content">
            <h3 class="hits__card-title">
              Икона настольная «Святая<br />блаженная Матрона Московская»
            </h3>
            <p class="hits__price">₽ 55 000</p>
          </div>
        </article>

        <article class="hits__card swiper-slide">
          <div class="hits__media">
            <img src="../assets/images/hits-3.png" alt="Подарочное оружие-топор «Златой Витязь»" width="424"
              height="424" loading="lazy" />
          </div>
          <div class="hits__content">
            <h3 class="hits__card-title">Подарочное оружие-топор<br />«Златой Витязь»</h3>
            <p class="hits__price">₽ 280 000</p>
          </div>
        </article>
      </div>
    </div>

    <div class="hits__footer"></div>
  </div>
</section>