<section class="showcase" aria-labelledby="showcase-title">
  <div class="showcase__container container">
    <div class="showcase__header">
      <h2 class="showcase__title title-h2" id="showcase-title">
        Искусство веков: <span>шедевры Златоуста</span>
      </h2>

      <div class="showcase__controls">
        <button class="showcase__control" type="button" aria-label="Предыдущий слайд" data-showcase-prev>
          <svg width="24" height="14" aria-hidden="true">
            <use href="#icon-arrow-left"></use>
          </svg>
        </button>

        <button class="showcase__control showcase__control--next" type="button" aria-label="Следующий слайд"
          data-showcase-next>
          <svg width="24" height="14" aria-hidden="true">
            <use href="#icon-arrow-left"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="showcase__slider swiper" data-showcase-slider>
      <div class="showcase__track swiper-wrapper" data-showcase-track aria-hidden="true"></div>

      <div class="showcase__scene" data-showcase-scene>
        <article class="showcase__card" data-showcase-card>
          <a class="showcase__card-link" href="#">
            <div class="showcase__card-image">
              <img src="../assets/images/slide-img-1.png" alt="Эстетика величия" loading="lazy" width="424" height="576">
            </div>
            <div class="showcase__card-content">
              <div class="showcase__card-head">
                <h3 class="showcase__card-title">Эстетика величия</h3>
                <span class="showcase__card-arrow" aria-hidden="true">
                  <svg width="24" height="14">
                    <use href="#icon-arrow-left"></use>
                  </svg>
                </span>
              </div>
              <p class="showcase__card-text">Эксклюзивное собрание предметов интерьера</p>
            </div>
          </a>
        </article>

        <article class="showcase__card" data-showcase-card>
          <a class="showcase__card-link" href="#">
            <div class="showcase__card-image">
              <img src="../assets/images/slide-img-1.png" alt="Восточная коллекция" loading="lazy" width="424" height="576">
            </div>
            <div class="showcase__card-content">
              <div class="showcase__card-head">
                <h3 class="showcase__card-title">Восточная коллекция</h3>
                <span class="showcase__card-arrow" aria-hidden="true">
                  <svg width="24" height="14">
                    <use href="#icon-arrow-left"></use>
                  </svg>
                </span>
              </div>
              <p class="showcase__card-text">Искусство дарить вечность</p>
            </div>
          </a>
        </article>

        <article class="showcase__card" data-showcase-card>
          <a class="showcase__card-link" href="#">
            <div class="showcase__card-image">
              <img src="../assets/images/slide-img-1.png" alt="Скульптура пространства" loading="lazy" width="424"
                height="576">
            </div>
            <div class="showcase__card-content">
              <div class="showcase__card-head">
                <h3 class="showcase__card-title">Скульптура пространства</h3>
                <span class="showcase__card-arrow" aria-hidden="true">
                  <svg width="24" height="14">
                    <use href="#icon-arrow-left"></use>
                  </svg>
                </span>
              </div>
              <p class="showcase__card-text">Атмосфера безупречного вкуса</p>
            </div>
          </a>
        </article>

        <article class="showcase__card" data-showcase-card>
          <a class="showcase__card-link" href="#">
            <div class="showcase__card-image">
              <img src="../assets/images/slide-img-1.png" alt="Территория влияния" loading="lazy" width="424" height="576">
            </div>
            <div class="showcase__card-content">
              <div class="showcase__card-head">
                <h3 class="showcase__card-title">Территория влияния</h3>
                <span class="showcase__card-arrow" aria-hidden="true">
                  <svg width="24" height="14">
                    <use href="#icon-arrow-left"></use>
                  </svg>
                </span>
              </div>
              <p class="showcase__card-text">Кабинет как зеркало характера владельца</p>
            </div>
          </a>
        </article>

        <article class="showcase__card" data-showcase-card>
          <a class="showcase__card-link" href="#">
            <div class="showcase__card-image">
              <img src="../assets/images/slide-img-1.png" alt="Путь воина" loading="lazy" width="424" height="576">
            </div>
            <div class="showcase__card-content">
              <div class="showcase__card-head">
                <h3 class="showcase__card-title">Путь воина</h3>
                <span class="showcase__card-arrow" aria-hidden="true">
                  <svg width="24" height="14">
                    <use href="#icon-arrow-left"></use>
                  </svg>
                </span>
              </div>
              <p class="showcase__card-text">Символ мужества и несгибаемой воли</p>
            </div>
          </a>
        </article>
      </div>
    </div>

    <a class="showcase__button button" href="#">Посмотреть все коллекции</a>
  </div>
</section>
