<section class="special-offer">
  <div class="special-offer__container container">
    <h2 class="special-offer__title title-h2" data-da=".special-offer,480,first">
      Подарок — это жест,
      <span>который остается в истории</span>
    </h2>

    <ul class="special-offer__list">
      <li class="special-offer__item">
        <div class="special-offer__item--img">
          <img src="../assets/images/special-offer-1.png" alt="Иконка">
        </div>
        <h3 class="special-offer__item--title">Философия <br> дара</h3>
      </li>

      <li class="special-offer__item">
        <div class="special-offer__item--img">
          <img src="../assets/images/special-offer-2.png" alt="Иконка">
        </div>
        <h3 class="special-offer__item--title">Инвестиция в вечность</h3>
      </li>

      <li class="special-offer__item">
        <div class="special-offer__item--img">
          <img src="../assets/images/special-offer-3.png" alt="Иконка">
        </div>
        <h3 class="special-offer__item--title">Индивидуальное создание</h3>
      </li>

      <li class="special-offer__item">
        <div class="special-offer__item--img">
          <img src="../assets/images/special-offer-4.png" alt="Иконка">
        </div>
        <h3 class="special-offer__item--title">Архитектура эмоций</h3>
      </li>
    </ul>
  </div>
</section>