.features {
  padding: 40px 0;
}

.reliability {
  padding-top: 100px;

  @media (max-width: 768px) {
    padding-top: 80px;
  }
}

.reliability .features__list {
  margin-top: 40px;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  @media (max-width: 1320px) {
    gap: 20px;
  }

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.features__card {
  background: var(--brand-id-black-secondary) url('../../images/features-card-bg.png') center/cover no-repeat;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media (max-width: 768px) {
    gap: 16px;
  }
}

.features__card-top {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 768px) {
    gap: 12px;
  }
}

.features__card-image {
  flex-shrink: 0;
  width: 72px;
  height: 72px;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    width: 56px;
    height: 56px;
  }
}

.features__card-title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: #e7e4de;

  @media (max-width: 1100px) {
    font-size: 20px;
  }
}

.features__card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #b9b4a8;
}