.subcategories {
  padding: 60px 0 100px 0;
  background: var(--brand-id-black);
}

/* .subcategories__container {} */

.subcategories__title {
  sub {
    vertical-align: baseline;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: #b9b4a8;
  }
}

.subcategories__list {
  overflow: hidden;
  margin-top: 40px;

  @media (max-width: 900px) {
    margin-top: 20px;
  }
}

/* .subcategories__list-wrapper {} */

.subcategories__item {
  width: 200px;
  flex-shrink: 0;
}

.subcategories__link {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &:hover {
    .subcategories__link--title {
      color: var(--brand-id-gold);
    }
  }
}

.subcategories__link--img {
  height: 140px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.subcategories__link--title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #e7e4de;
  transition: color 0.2s ease;
}

.subcategories__list--control {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 20px;

  @media (max-width: 900px) {
    display: none;
  }
}

.subcategories__list--progres {
  flex: 1 1 auto;
  width: 100%;
  height: 1px;
  background: #1f1f21;
  position: relative;
}

.subcategories__list--actions {
  display: flex;
  gap: 8px;
}

.subcategories__list--button {
  flex-shrink: 0;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;

  &.next svg {
    transform: rotate(180deg);
  }

  &:disabled {
    opacity: 0.6;
  }
}

.subcategories__body {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.subcategories__top {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  border-bottom: 1px solid rgba(232, 225, 214, 0.4);
  padding-bottom: 24px;
  position: relative;

  .sorting__options {
    top: calc(100% + 25px);
  }
}

.subcategories__title-h3 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #e7e4de;

  @media (max-width: 900px) {
    display: none;
  }
}

.subcategories-aside-width {
  width: 324px;
  flex-shrink: 0;

  @media (max-width: 1024px) {
    width: 260px;
  }

  @media (max-width: 900px) {
    width: auto;
  }
}

.subcategories__content {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

.subcategories__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  width: 100%;
  padding-bottom: 24px;

  @media (max-width: 1200px) {
    gap: 16px;
  }

  @media (max-width: 1100px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 579px) {
    grid-template-columns: 1fr;

  }
}

.subcategories__bottom {
  margin-left: 336px;
  padding-top: 24px;
  border-top: 1px solid rgba(232, 225, 214, 0.4);
  position: relative;
  container-type: inline-size;
  display: flex;
  justify-content: space-between;
  gap: 12px;

  @media (max-width: 1024px) {
    margin-left: 272px;
  }

  @media (max-width: 900px) {
    margin-left: 0;
  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
  }
}

.subcategories__button-more {
  padding-block: 5px;
  height: 48px;

  @container (min-width: 830px) {
    margin-inline: auto;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}