<section class="cookie-banner" aria-label="Уведомление об использовании файлов cookie" data-cookie-banner>
  <div class="cookie-banner__content">
    <p class="cookie-banner__text">
      ИП Туев Владислав Борисович обрабатывает файлы cookie. Они помогают нам делать этот сайт удобнее для
      пользователей. Продолжая работу с сайтом almazfond.ru, вы соглашаетесь с обработкой файлов cookie вашего
      браузера. Однако вы можете запретить обработку некоторых типов файлов cookie в настройках вашего браузера либо на
      странице <a class="cookie-banner__link" href="">«Уведомление об использовании файлов cookie»</a>.
    </p>
    <button class="cookie-banner__accept button" type="button" data-cookie-banner-accept>Согласен</button>
  </div>
</section>