<footer class="footer">
  <div class="footer__container container">
    <div class="footer__content">
      <div class="footer__item">
        <img src="../assets/images/footer-logo.png" alt="Лого" class="footer__logo">
      </div>
      <div class="footer__item">
        <div class="footer__contacts">
          <div class="footer__contacts-block">
            <div>
              <span>Офис:</span>
              <address>
                г. Москва, ул. Ленинская Слобода, 19 оф. 1091, БЦ «ОМЕГА-ПЛАЗА»
              </address>
            </div>
            <a href="tel:+79859796611" class="footer__contact-link">+7 (985) 979 6611</a>
            <a href="tel:+74953748100" class="footer__contact-link">+7 (495) 374 8100</a>
            <a href="mailto:info@almazfond.ru" class="footer__contact-link">info@almazfond.ru</a>
          </div>

          <div class="footer__contacts-block">
            <div>
              <span>Производство:</span>
              <address>
                456208, Челябинская область,
                г. Златоуст, ул. Златоустовская, 14
              </address>
            </div>
            <a href="tel:+73512420213" class="footer__contact-link">+7 (351) 242 0213</a>
          </div>

          <div class="footer__socials">
            <a class="footer__social" href="https://t.me" aria-label="Telegram">
              <img src="../assets/images/logos_telegram.png" alt="Иконка телеграма" aria-hidden="true" width="30"
                height="30">
            </a>
            <a class="footer__social" href="#" aria-label="Социальная сеть">
              <img src="../assets/images/icon-purple-social.png" alt="Иконка max" aria-hidden="true" width="30"
                height="30">
            </a>
          </div>
        </div>
      </div>
      <div class="footer__item">
        <h3 class="footer__item-title">Каталог</h3>
        <nav class="footer__nav">
          <a href="" class="footer__link">Эстетика величия</a>
          <a href="" class="footer__link">Восточная коллекция</a>
          <a href="" class="footer__link">Скульптура пространства</a>
          <a href="" class="footer__link">Территория влияния</a>
          <a href="" class="footer__link">Путь воина</a>
          <a href="" class="footer__link">Искусство гостеприимства</a>
          <a href="" class="footer__link">Изысканная сервировка</a>
          <a href="" class="footer__link">Духовная опора</a>
        </nav>
      </div>
      <div class="footer__item">
        <h3 class="footer__item-title">Покупателям</h3>
        <nav class="footer__nav">
          <a href="/about.html" class="footer__link">О нас</a>
          <a href="/delivery-payment.html" class="footer__link">Доставка и оплата</a>
          <a href="/contancts.html" class="footer__link">Контакты</a>
        </nav>
      </div>
    </div>
    <div class="footer__bottom">
      <p>© 2026 Все права защищены</p>
      <a href="">Политика конфиденциальности</a>
      <a href="">Обработка персональных данных</a>
      <p>
        Сайт разработан в <span>SARGOS</span>
      </p>
    </div>
  </div>
</footer>
<include src="../partials/modal.html"></include>
