<div class="sprite-defs" aria-hidden="true">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="icon-search" viewBox="0 0 24 24" fill="none">
      <circle cx="11" cy="11" r="7.5" stroke="currentColor" stroke-width="2" />
      <path d="M16.5 16.5L21 21" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
    </symbol>
    <symbol id="icon-menu" viewBox="0 0 20 14" fill="none">
      <path d="M1 1H19" stroke="currentColor" stroke-width="2" stroke-linecap="square" />
      <path d="M1 7H19" stroke="currentColor" stroke-width="2" stroke-linecap="square" />
      <path d="M1 13H19" stroke="currentColor" stroke-width="2" stroke-linecap="square" />
    </symbol>
    <symbol id="icon-close" viewBox="0 0 18 18" fill="none">
      <path d="M2 2L16 16" stroke="currentColor" stroke-width="2" stroke-linecap="square" />
      <path d="M16 2L2 16" stroke="currentColor" stroke-width="2" stroke-linecap="square" />
    </symbol>
    <symbol id="icon-arrow-left" viewBox="0 0 24 14" fill="none">
      <path
        d="M8 14C8 13.258 7.267 12.15 6.525 11.22C5.571 10.02 4.431 8.973 3.124 8.174C2.144 7.575 0.955999 7 -6.11959e-07 7M-6.11959e-07 7C0.955999 7 2.145 6.425 3.124 5.826C4.431 5.026 5.571 3.979 6.525 2.781C7.267 1.85 8 0.74 8 -5.08584e-07M-6.11959e-07 7L24 7"
        stroke="currentColor" />
    </symbol>
  </svg>
</div>